
@{
    Layout = null;
}
<html>
<head>
    <title>Успішно відправлено</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body>
    <div style="width: 128px; margin: 100px auto 20px auto;">
        <img style="width:inherit" src="~/Images/1499392235_letter.png" draggable="false" />
    </div>
    <p style="text-align: center; font-size: 34px;">Успішно відправлено</p>
</body>
</html>



